# 實驗室用電量分析
此資料從[臺灣大學物理學系實驗室用電資訊系統](http://140.112.102.175/ROOM/)取得資料  
利用Google App Script存取以上資訊到Google 表單([物理系日用電量記錄](https://docs.google.com/spreadsheets/d/1W3cgl7a3uFGCMt4ckQ0q7GQBxi1_BYEw7gUk-MqID-M/edit?usp=sharing))  
記錄自**2018/04/14**日起至**2019/02/24**日止  
共記錄**R715**室、**R619**室、**B113s**室之用電資訊

In [1]:
import pandas as pd
filename='~\\實驗室用電量分析\\Data\\實驗室用電量2019-02-25.csv'
df = pd.read_csv(filename, sep=',', engine="python") 
# engine 不使用 python，將會有錯誤產生，推測與中文路徑或名稱有關

### 先看資料形式
有5列資訊：
- **Timestamps** (時間戳記)
- **R715**、**R619**、**B113s** (三個地點用電量)
- **Date**(當天日期)

In [2]:
df[1:10]

        Timestamps   R715   R619 B113s        Date
1  2018-04-14 1:54   3.64   6.04  1.93  2018/04/14
2  2018-04-14 2:54   5.53   8.76   2.9  2018/04/14
3  2018-04-14 3:54    7.3  11.46  3.87  2018/04/14
4  2018-04-14 4:54   9.13  14.86  4.85  2018/04/14
5  2018-04-14 5:54  10.98  17.63  5.82  2018/04/14
6  2018-04-14 6:54  12.57  20.36  6.79  2018/04/14
7  2018-04-14 7:54  14.39  23.39  7.76  2018/04/14
8  2018-04-14 8:54  15.93  26.55  8.72  2018/04/14
9  2018-04-14 9:54  18.54   29.3  9.71  2018/04/14

### 取出每天同樣時間
考慮之後會分析每天同樣時間用電量資訊  
在此由 **Timestamps** 取出每天同樣時間的 Index

In [3]:
Time = df["Timestamps"].str.split(' ',expand = True)[1]
df["Time"] = Time

### 驗證確實有取出想要的 Index

In [4]:
index_1 = df.Time[df.Time=="0:54"].index
df.Timestamps[index_1][1:10]

25     2018-04-15 0:54
50     2018-04-16 0:54
75     2018-04-17 0:54
99     2018-04-18 0:54
123    2018-04-19 0:54
147    2018-04-20 0:54
171    2018-04-21 0:54
195    2018-04-22 0:54
219    2018-04-23 0:54
Name: Timestamps, dtype: object